<%= form_for(@representative) do |f| %>
  <% if @representative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@representative.errors.count, "error") %> prohibited this representative from being saved:</h2>

      <ul>
      <% @representative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :stakeholder %><br />
    <%= collection_select :representative, :stakeholder_id, Stakeholder.all, :id, :organisation %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
