<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @representative.first_name %>
</p>

<p>
  <b>Surname:</b>
  <%= @representative.surname %>
</p>

<p>
  <b>Stakeholder:</b>
  <%= link_to @representative.stakeholder.organisation, @representative.stakeholder %>
</p>

<p>
  <b>Mobile:</b>
  <%= link_to @representative.mobile, "tel:#{ @representative.mobile.gsub(/\s+/, "") }" %>
</p>

<p>
  <b>Notes:</b>
  <%= @representative.notes %>
</p>


<%= link_to 'Edit', edit_representative_path(@representative) %> |
<%= link_to 'Back', representatives_path %>
