<p id="notice"><%= notice %></p>

<p>
  <b>Organisation:</b>
  <%= @stakeholder.organisation %>
</p>

<p>
  <b>Address1:</b>
  <%= @stakeholder.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @stakeholder.address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @stakeholder.address3 %>
</p>

<p>
  <b>Suburb:</b>
  <%= @stakeholder.suburb %>
</p>

<p>
  <b>State:</b>
  <%= @stakeholder.state %>
</p>

<p>
  <b>Postcode:</b>
  <%= @stakeholder.postcode %>
</p>

<p>
  <b>Post address1:</b>
  <%= @stakeholder.post_address1 %>
</p>

<p>
  <b>Post address2:</b>
  <%= @stakeholder.post_address2 %>
</p>

<p>
  <b>Post address3:</b>
  <%= @stakeholder.post_address3 %>
</p>

<p>
  <b>Post suburb:</b>
  <%= @stakeholder.post_suburb %>
</p>

<p>
  <b>Post state:</b>
  <%= @stakeholder.post_state %>
</p>

<p>
  <b>Post postcode:</b>
  <%= @stakeholder.post_postcode %>
</p>

<p>
  <b>Phone1:</b>
  <%= @stakeholder.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @stakeholder.phone2 %>
</p>

<p>
  <b>Fax:</b>
  <%= @stakeholder.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @stakeholder.email %>
</p>

<p>
  <b>Website:</b>
  <%= @stakeholder.website %>
</p>

<p>
  <b>Notes:</b>
  <%= @stakeholder.notes %>
</p>


<%= link_to 'Edit', edit_stakeholder_path(@stakeholder) %> |
<%= link_to 'Back', stakeholders_path %>
