<%= semantic_form_for @correspondence do |f| %>
  <% if @correspondence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@correspondence.errors.count, "error") %> prohibited this correspondence from being saved:</h2>

      <ul>
      <% @correspondence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs :name => "Details" do %>
    <%= f.input :date_received %>
    <%= f.input :project %>
    <%= f.input :correspondence_type %>
    <%= f.input :stakeholder, :collection=>ProjectsStakeholders.where("project_id=#{@correspondence[:project_id]}").collect {|ps| [ps.stakeholder[:organisation], ps.stakeholder[:id]]} %>
    <%= f.input :representative, :collection=>Representative.where(:stakeholder_id=>@correspondence[:stakeholder_id]).collect {|r| ["#{r[:first_name]} #{r[:surname]}", r[:id]]} %>
    <%= f.input :subject %>
    <%= f.input :comment %>
    <%= f.input :risk %>
  <% end %>
  
  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>    
<% end %>